/*this font is from fontsquirrel.com available at:
 https://www.fontsquirrel.com/fonts/bellota?filter%5Bdownload%5D=local [Accessed on 15/2/17}]*/
@font-face {
    font-family: Bellota-Light;
    src: url("Bellota-Light.otf") format("opentype");
}
#theBox{
  width: 350px;
  background: #8ABD5F;
  padding: 10px;
  margin: 0 auto;
  border-radius:10px;
  color: #224C00;
  font-family: Arial;
}

body{
  background: #fff8f8;
}
#upload{
  background: #fff8f8;
  border: 1px solid #3E7213;
  border-radius: 5px;
}
.header {
  padding: 10px;
  font-family: Bellota-Light;
  background-color: #fff8f8;
  margin: 50px 0;
  border-top: 1px solid #224C00;
  border-bottom: 1px solid #224C00;
  width: 100%;
}
.header, #home, h2, footer{
  font-family: Bellota-Light;
  color: #224C00;
}

footer{
    position: absolute;
    bottom: 0;
    border-top: 1px solid #224C00;
    width: 100%;
}

.hidden{
  display: none;
}

#zoomOut-button{
  height: 100px;
  width: 100px;
}

#failRead{
  font-family: Bellota-Light;
  font-size: 50px;
  padding-bottom: 25px;
}

a{
  color:#224C00;
}
